services:
  walletru.web:
    image: walletru.web
    build:
      context: .
      dockerfile: WalletRU.Web/Dockerfile
    ports:
      - "80:8080"

  walletru.backtimemachine:
    image: walletru.backtimemachine
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    build:
      context: .
      dockerfile: Services/WalletRU.BackTimeMachine/Dockerfile
    depends_on:
      - db
    ports:
      - "7001:8080"
  
  walletru.messagehandler:
    image: walletru.messagehandler
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    build:
      context: .
      dockerfile: Services/WalletRU.MessageHandler/Dockerfile
    depends_on:
      - db
    ports:
      - "7002:8080"

  walletru.messagelogger:
    image: walletru.messagelogger
    build:
      context: .
      dockerfile: Services/WalletRU.MessageLogger/Dockerfile
    depends_on:
      - walletru.messagehandler
    ports:
      - "7003:8080"
  
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "WalletRuDB"
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
